<script src="/assets/kor-ui/kor.js"></script>
<link rel="stylesheet" href="/assets/kor-ui/kor-styles.css">
<link rel="stylesheet" href="/assets/demos/demo-styles.css">

<div class="demo">
  <kor-input label="Text" condensed></kor-input>
  <kor-input value="Value" condensed></kor-input>
  <kor-input label="Text" value="Value" condensed></kor-input>
  <kor-input icon="email" label="Text" value="Value" condensed></kor-input>
  <kor-input icon="email" label="Text" value="Value" status="error" condensed></kor-input>
</div>