<script src="/assets/kor-ui/kor.js"></script>
<link rel="stylesheet" href="/assets/kor-ui/kor-styles.css">
<link rel="stylesheet" href="/assets/demos/demo-styles.css">

<div class="demo row">
  <kor-grid columns="2">
    <kor-card label="Functions and Footer">
      <kor-icon slot="functions" button icon="more_vert"></kor-icon slot="functions">
      <kor-button slot="footer"></kor-button>
    </kor-card>
    <kor-card label="Header">
      <kor-tabs slot="header">
        <kor-tab-item label="Tab 1" active></kor-tab-item>
        <kor-tab-item label="Tab 2"></kor-tab-item>
        <kor-tab-item label="Tab 3"></kor-tab-item>
      </kor-tabs>
    </kor-card>
  </kor-grid>
</div>