
.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
/* row */
.demo.row {
  flex-direction: row;
}
.demo.row > * + * {
  margin-left: 12px;
}
/* column */
.demo:not(.row) {
  flex-direction: column;
}
.demo:not(.row)> * + * {
  margin-top: 12px;
}
.demo:not(.row):not(.stretch)> * {
  width: 320px;
}
/* page */
.demo.page {
  zoom: 0.666;
}
/* stretch */
.demo.stretch {
  padding: 0;
}