<script src="/assets/kor-ui/kor.js"></script>
<link rel="stylesheet" href="/assets/kor-ui/kor-styles.css">
<link rel="stylesheet" href="/assets/demos/demo-styles.css">

<div class="demo">
  <!-- idle -->
  <kor-accordion label="Idle">
    <kor-checkbox label="Label" active></kor-checkbox>
    <kor-checkbox label="Label"></kor-checkbox>
    <kor-checkbox label="Label"></kor-checkbox>
  </kor-accordion>
  <!-- expanded -->
  <kor-accordion label="Expanded" expanded>
    <kor-checkbox label="Label" active></kor-checkbox>
    <kor-checkbox label="Label"></kor-checkbox>
    <kor-checkbox label="Label"></kor-checkbox>
  </kor-accordion>
  <!-- disabled -->
  <kor-accordion label="Disabled" disabled></kor-accordion>
</div>