:host {
  display: flex;
  justify-content: center;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  margin: -16px;
  overflow: overlay;
  markdown {
    flex: 1;
    margin: 32px;
    max-width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}