:host {
  position: relative;
  padding-top: 104px;
  display: block;
  width: calc(100% + 32px);
  height: calc(100% - 72px);
  margin: -16px;
  overflow: auto;
  > * {
    padding: 0 64px 32px 64px;
    margin: auto;
    max-width: 960px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  :host > * {
    padding-left: 16px;
    padding-right: 16px;
  }
}
