<kor-page
  [theme]="data.appTheme"
  flat
>
  <kor-app-bar
    slot="top"
    label="Kor"
    [mobile]="data.mobile"
    logo="./assets/favicon_{{ data.appTheme }}.png"
  >
    <!-- links -->
    <a
      slot="functions"
      href="https://github.com/kor-ui/kor"
      target="_blank"
    >
      <kor-icon
        button
        icon="url(./assets/imgs/logo_github_{{ data.appTheme }}.png)"
      ></kor-icon>
    </a>
    <kor-divider
      slot="functions"
      orientation="vertical"
      style="height: 32px"
      spacing="s"
    ></kor-divider>
    <kor-icon
      [slot]="data.mobile ? 'right' : 'functions'"
      button
      icon="brightness_medium"
      (click)="data.switchTheme()"
    ></kor-icon>
    <kor-icon
      slot="left"
      button
      icon="menu"
      (click)="data.showMenu = true"
    ></kor-icon>
  </kor-app-bar>
  <app-menu slot="left"></app-menu>
  <app-content></app-content>
</kor-page>