markdown {
  // text
  > wa-text, 
  > ul wa-text {
    &.h1 {
      margin: 0 0 16px 0;
      font-size: 32px;
      line-height: 40px;
    }
    &.h2 {
      margin: 32px 0 16px 0;
      font-size: 20px;
      line-height: 32px;
    }
    &.h3 {
      font-size: 16px;
      margin: 32px 0 12px 0;
    }
    &.h4 {
      font-size: 14px !important;
      margin: 24px 0px 8px 0px !important;
    }
    &[size="body-1"] {
      font-size: 16px;
      line-height: 24px;
      margin: 24px 0;
    }
  }
  // links
  a {
    font-weight: bold;
    color: rgb(var(--accent-1));
  }
  // lists
  li {
    font: var(--body-1);
    color: var(--text-1);
    font-size: 16px;
    line-height: 32px;
  }
  li > wa-text {
    margin: 0 !important;
  }
  // table
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th, td {
      line-height: 32px !important;
      padding: 8px;
      border-bottom: 1px solid rgba(var(--neutral-1), .15);
      color: var(--text-1);
    }
    th {
      font-weight: bold;
      border-color: rgba(var(--neutral-1), .40)
    }
  }
  // code blocks
  pre {
    background: rgba(var(--neutral-1), .05) !important;
    max-height: 320px !important;
    box-sizing: border-box;
    padding: 16px !important;
    margin: 0 0 24px 0 !important;
    code {
      font-size: 14px !important;
      line-height: 20px !important;
      text-shadow: none !important;
      padding: 0;
      background: transparent;
      color: var(--text-2) !important;
    }
  }
  code {
    background: rgba(var(--neutral-1), .05);
    color: var(--text-1);
    border-radius: 4px;
    padding: 2px 4px;
  }
  strong code {
    background: rgb(var(--accent-1));
    color: rgb(255,255,255,.90);
  }
  // images
  wa-page[theme="dark"] img[src*="_light"],
  wa-page[theme="light"] img[src*="_dark"] {
    display: none !important;
  }
  img {
    width: 100%;
  }
  // iframes
  iframe {
    opacity: 0;
    border: none;
    transition: .1s ease-in-out;
  }
  iframe:not([height]) {
    min-height: 320px;
  }
}