markdown {
  gap: 40px;
  // text
  > kor-text, 
  > ul kor-text {
    > strong {
      color: var(--text-1);
    }
  }  
  h1, .h1 {
    position: absolute;
    top: 0;
    margin: 32px 0 !important;
    font-size: 32px;
    line-height: 40px;
  }
  h2, .h2 {
    font-size: 20px;
    line-height: 32px;
  }
  h3, .h3 {
    font-size: 16px;
  }
  h4, .h4 {
    font-size: 14px !important;
  }
  p, kor-text[size="body-1"] {
    font: var(--body-1);
    color: var(--text-2);
    font-size: 16px;
    line-height: 24px;
  }
  p, h1, h2, h3, h4,
  .p, .h1, .h2, .h3, .h4 {
    margin: unset;
  }
  // links
  a {
    font-weight: bold;
    color: rgb(var(--accent-1));
    &.href-button {
      width: fit-content;
      text-decoration: none;
    }
  }
  // lists
  li {
    font: var(--body-1);
    color: var(--text-1);
    font-size: 16px;
    line-height: 32px;
    > kor-text {
      margin: 0 !important;
    }
  }
  // table
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th, td {
      line-height: 32px !important;
      padding: 8px;
      border-bottom: 1px solid rgba(var(--neutral-1), .15);
      color: var(--text-1);
    }
    th {
      font-weight: bold;
      border-color: rgba(var(--neutral-1), .40)
    }
  }
  // images
  kor-page[theme="dark"] img[src*="_light"],
  kor-page[theme="light"] img[src*="_dark"] {
    display: none !important;
  }
  img {
    width: 100%;
  }
  // iframes
  iframe {
    max-width: 100%;
    border: none;
    background-color: rgb(var(--base-2));
    border-radius: 4px;
    border: 1px solid rgba(var(--neutral-1), .15);
    &:not([height]) {
      min-height: 400px;
    }
  }  
  // code
  pre {
    background: rgba(var(--neutral-1), .05) !important;
    max-height: 400px !important;
    box-sizing: border-box;
    padding: 16px !important;
    margin: 0 0 24px 0 !important;
    code {
      font-size: 14px !important;
      line-height: 20px !important;
      text-shadow: none !important;
      padding: 0;
      background: transparent;
      color: var(--text-2) !important;
    }
  }
  code {
    background: rgba(var(--neutral-1), .05);
    color: var(--text-1);
    border-radius: 4px;
    padding: 2px 4px;
  }
  strong code {
    color: rgb(var(--accent-1));
    background: transparent;
    border: 1px solid rgba(var(--neutral-1), .15);
  }
  code[class*="language-"],
  pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    font-family: Roboto Mono, monospace;
    font-size: 1em;
    line-height: 1.5em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    &::-moz-selection,
    &::-moz-selection,
    ::-moz-selection,
    ::-moz-selection {
      background: #363636;
    }
  }
  :not(pre) > code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
  }
  pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
    .namespace {
      opacity: 0.7;
    }
  }
  .language-css > code,
  .language-sass > code,
  .language-scss > code {
    color: #fd9170;
  }
  [class*="language-"] 
  .token {
    &.id, &.important { font-weight: bold; }
    &.atrule &.boolean, &.constant, &.function, &.id, &.important, &.keyword, &.symbol { color: #c792ea; }
    &.attr-name, &.builtin, &.class { color: #fd9170 ; }
    &.attr-value, &.cdata, &.char, &.inserted, &.property, &.string { color: #53b6ac; }
    &.class-name, &.hexcode, &.regex { color: #f2ff00; }
    &.comment, &.doctype, &.prolog { color: var(--text-3); }
    &.deleted, &.entity, &.selector, &.tag, &.url, &.variable { color: #ff6666; }
    &.number, &.unit { color: #ffb62e; }
    &.operator, &.punctuation { color: #1190c2; }
    &.pseudo-class, &.pseudo-element { color: #a5e844; }
  }
}