<kor-pane>
  <!-- chapters -->
  <kor-accordion *ngFor="let c of tree; index as i" [label]="c.label" expanded>
    <kor-tabs orientation="vertical" style="margin: 0 -16px;">
      <!-- pages -->
      <kor-tab-item *ngFor="let p of c.pages"
        [label]="p.label" 
        [active]="router.url.split('#')[0] == '/' + c.url + '/' + p.url"
        (click)="$event.stopImmediatePropagation(); router.navigateByUrl('/' + c.url + '/' + p.url);">
      </kor-tab-item>
    </kor-tabs>
  </kor-accordion>
</kor-pane>